<%- include('./header.ejs') %> 
    </div>

    <div class="container mt-3 " >
        <form action="http://localhost:3000/sort" method="post">
        <input  type="hidden" name="search" id="search" value="<%= search %>"> 
        <label for="sort">Sort</label>
        <select   name="sort" id="sort" >
            <option value="A-Z" >A-Z</option> 
            <option value="Low-High">Price Low-High</option>
            <option value="High-Low">Price High-Low</option>
            <option value="Rating">Rating</option>
        </select>
        <button class="btn btn-light" type="submit">submit</button>
        </form>
    </div>

    <div class="container mt-3">
        <% var arr = [] %> 
        <% for(let list of product){%>
            <% arr.push(list.name)%>
            <% }%>
    <div class="row">
       <%   for(let name of arr){%>
        <div class="col">
            <div id="div" class="card text-justify mb-4 mx-auto " style="width: 18rem;">
        <img  class="card-img-top mx-auto my-2 d-block" id="img" src="<%=name%> (1).jpeg" alt="" srcset="">
        <a id="text" class=" text-dark" href="http://localhost:3000/productPage/<%=name%>"><h5 id="text" class="card-title px-4 "><%=name %> </h5></a>
            </div>
        </div>
        <%  }%>
    </div>
    </div>
<%- include('./footer.ejs') %> 
